{% extends 'app/base.html' %}

{% block content %}
<h2>Upload file</h2>

<form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" accept="audio/*" name="audio_file">
    <button id="upload-button" type="submit">Submit</button>

</form>
    

<h2>Transcript</h2>

{% if error %}
    <p id="error" style="color: red">{{ error }}</p>
    {% endif %}
<p id="transcript">
    
    {% for paragraph in paragraphs %}
        {{paragraph}}
    {% endfor %}
        

</p>
<script>
    const errorEl = document.getElementById("error");
    const transcriptEl = document.getElementById("transcript");
    const fileUploadBtn = document.getElementById("upload-button");
    fileUploadBtn.addEventListener("click", updateTranscriptionText);
    async function updateTranscriptionText() {
    if (errorEl) {
    errorEl.remove();
    }
    transcriptEl.innerText = "Transcribing...";
    }
</script>
{% endblock %}