{% extends 'app/base.html' %} {% load static %} {% load crispy_forms_tags %}
{%block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recognite.Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Instructions</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Export</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Invite a friend</a>
        </li>
      </ul>
      
      {% if request.user.is_authenticated%}
      <a class="btn btn-danger" type="button" href="{% url 'logout_user' %}">Log out</a>
      {% else %}
      <button class="btn btn-outline-success" type="submit" href="{% url 'login_user' %}">Sign in</button>
      {% endif %}
    </div>
  </div>
</nav>

<h2>Upload file</h2>


<form method="post" , enctype="multipart/form-data">
  {% csrf_token %} {{ AudioForm | crispy }}
  <div class="d-grid gap-3 mt-3">
    <button type="submit" class="btn btn-outline-success">Upload audio</button>
  </div>
</form>



<p>Your file size :
  {{ size|filesizeformat }} {{ size }}
</p>
<h2>Transcription</h2>

{% if error %}
<p id="error" style="color: red">{{ error }}</p>
{% endif %}

<p id="app">
  {{text}}
</p>

<section class="container">
  <h2 class="Instructions">Instructions</h2>
  <p>

  </p>
</section>


<section class="container">
  <h2 class="Instructions">Export</h2>
  <p>
    
  </p>
</section>


<section class="container">
  <h2 class="Instructions">FAQ</h2>
  <p>
    
  </p>
</section>

<section class="container">
  <h2 class="Instructions">Invite a friend</h2>
  <p>
    
  </p>
</section>

<script>
  const socket = new WebSocket(
    "ws://" + window.location.host + "/ws/transcribe_audio/"
  );

  socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const message = data.message;
    setMessage(message);
  };

  function setMessage(message) {
    // Create a new p element
    var newP = document.createElement("p");
    newP.textContent = message;

  
    var pElement = document.getElementById("app");
    pElement.appendChild(newP);
  
  // Create a new li element
  var newLi = document.createElement("li");

  // Create a new anchor element
  var newAnchor = document.createElement("a");
  newAnchor.className = "dropdown-item text-wrap";
  newAnchor.href = "#";
  newAnchor.textContent = message;

}
  


</script>
{% endblock %}
