{% extends 'app/base.html' %}

{% block content %}

<h3>Reset Your Password</h3>
{% if validlink %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
    <strong>{{value}}</strong>
    
    {% endfor %}

{% endif %}
<br><br>

<form class="row g-3">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="password1" class="form-label">Enter your password</label>
      <input type="text" class="form-control" id="password1" value="Mark" required>
    </div>
    <div class="col-md-4">
      <label for="password2" class="form-label">Reenter it</label>
      <input type="text" class="form-control" id="password2" value="Otto" required>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Update password</button>
    </div>
  </form>

{% else %}
<div class="alert alert-danger" role="alert">

    <p>The password reset link was invalid, please send new password reset request</p>
</div>
{% endif %}
{% endblock %}