{% extends 'app/base.html' %}

{% block content %}

<h3>Forgot Password?</h3>

{% if form.errors %}
    {% for key, value in form.errors.items %}
    <strong>{{value}}</strong>
    
    {% endfor %}

{% endif %}
<br><br>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="id_email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="{% url 'register' %}">Register now!</a><br><br>
<a href="{% url 'login_user' %}">Back to login</a>
{% endblock %}