.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.fa-solid {
    font-size: 26px;
}

.fa-solid[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 36%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: rgb(251, 251, 251);
    background: #ff0000d9;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.rec-text {
    background-color: darkgray;
    font-size: 1rem;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(22) forwards blink 0.7s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 14ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}