{% extends 'app/base.html'%} {% block content %}
<h1>Login</h1>
<br />


<form action="" method="POST">
  {% csrf_token %}

  
    {{ form.as_p }}

    {% for field, error in form.errors.items %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
         <div>
            {{error|striptags}}
         </div>
      </div> 
      {% endfor %}



    <input type="submit" value="Log in" class="btn btn-secondary" />
  
</form>
<br /><br />
  <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
<br>
<br>
<a href="{% url 'register' %}">Register now!</a><br><br>

{% endblock %}