{% extends 'app/base.html'%} {% block content %} {% if user.is_authenticated %}



{% block title %}Main Page{% endblock %}


<ul>
  <li>
    
  </li>
  <li>
    <a href="{% url 'transcribe_audio' %}">Recognition</a>
  </li>
</ul>
{% else %}
<ul>
  <li>
    <a href="{% url 'login_user' %}">Login</a>
  </li>
</ul>
{% endif %} {% block js_script %} 
<script>
  // setup chat socket
  const notifySocket = new WebSocket(
    "ws://" + window.location.host + "/ws/notify/"
  );


  // on socket open
  notifySocket.onopen = function (e) {
    console.log("Socket successfully connected.");
  };

  // on socket close
  notifySocket.onclose = function (e) {
    console.log("Socket closed unexpectedly");
  };

  // on receiving message on group
  notifySocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const message = data.message;
    setMessage(message);
  };

  function setMessage(message) {
    // Create a new li element
    var newLi = document.createElement("li");

    // Create a new anchor element
    var newAnchor = document.createElement("a");
    newAnchor.className = "dropdown-item text-wrap";
    newAnchor.href = "#";
    newAnchor.textContent = message;

    // Append the anchor element to the li element
    newLi.appendChild(newAnchor);

    //Get the ul element with the id "notify"
    var ulElement = document.getElementById("notify");
    ulElement.appendChild(newLi);

    count = document.getElementById("bellCount").getAttribute("data-count");
    document
      .getElementById("bellCount")
      .setAttribute("data-count", parseInt(count) + 1);
  }
</script>


{% endblock js_script %} {% endblock %}
